@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

// COLORSCHEME
$cs: (
    mainbg: #362c2c,
    mainaccent: white,
    offwhite: rgba(236, 231, 225, 0.815),
    header: #362c2c,
    see-thru: rgba(255, 255, 255, 0),
    dropdownbg: #2b2525,
    dropdownhover: yellow,
    footer: #1c1616,
    footeraccent: #707070,
    pc: black,
    ps: #004098,
    xb: #0f7a10,
    nt: #e60012,
    filterbg: lightslategrey,
    prev-next-btns: rgba(0, 0, 0, 0.3),
    slideshowdots: #bbb,
);

// font-weight:  regular 400, medium 500, semi-bold 600, bold 700
h1,
h2,
h3,
p {
    font-family: "Arimo", sans-serif;
}

body {
    background-color: map-get($cs, mainbg);
    color: map-get($cs, mainaccent);
    margin: 100px 0 0 0;
    font-family: "Arimo", sans-serif;
}

//header & navigation
.header {
    .admin {
        .logo {
            justify-content: flex-start;
        }
        .userMenu {
            max-width: 250px;
            justify-content: flex-end;
            @media (max-width: 1100px) {
                max-width: unset;
            }
        }
    }
    header {
        height: 65px;
        width: calc(100% - 30px);
        padding: 0 15px;
        padding-right: 15px !important;
        background-color: map-get($cs, header);
        position: fixed;
        z-index: 999;
        top: 0;
        display: flex;
        font-family: "Arimo", sans-serif;
        align-items: center;
        justify-content: center;
        .userMenu {
            padding: 0;
        }
        .addlayer {
            display: block;
        }
        .logo {
            display: flex;
            align-items: center;
            justify-content: end;
            cursor: pointer;
            flex-grow: 0.8;
        }
        .menu {
            float: right;
            display: none;
        }
        #check,
        #check2 {
            display: none;
        }
        ul {
            list-style: none;
            flex-grow: 4;
            text-align: center;
            .mobile_link {
                display: none;
            }
            .dropdown {
                position: relative;
                display: inline-block;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                min-width: 160px;
                z-index: 1000;
                background-color: map-get($cs, dropdownbg);
                border-radius: 8px;
            }
            .dropdown-content a {
                color: map-get($cs, mainaccent);
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
            li {
                display: inline-block;
                margin: 0 20px;
                font-size: 24px;
                a {
                    text-decoration: none;
                    color: map-get($cs, mainaccent);
                    &:hover {
                        color: map-get($cs, dropdownhover);
                    }
                }
            }
        }
        .userMenu {
            flex-grow: 1;
            text-align: start;
        }
        @media (max-width: 1100px) {
            justify-content: space-between;
            flex-grow: 0;
            .logo {
                justify-content: start;
            }
            .menu {
                display: block;
            }
            ul {
                .desktop_link,
                .dropdown {
                    display: none;
                }
                .mobile_link {
                    display: block;
                }
                position: fixed;
                width: 100%;
                height: 100vh;
                padding: 0;
                background: map-get($cs, dropdownbg);
                top: 48px;
                display: hidden;
                left: -100%;
                text-align: center;
                transition: all 0.5s;
                li {
                    display: block;
                    line-height: 100px;
                    position: relative;
                    margin: 0;
                    top: 15%;
                    transform: translate(0, -50%);
                }
            }
            .userMenu {
                flex-grow: 0;
                text-align: center;
            }
            #check:checked ~ .platformMenu {
                position: absolute;

                left: 0;
            }
            #check2:checked ~ .userMenu {
                position: absolute;
                left: 0;
            }
        }
        .icon {
            font-size: 2.5em;
            height: 40px;
            width: 40px;
            cursor: pointer;
            &:hover {
                color: map-get($cs, dropdownhover);
            }
        }

        .icons {
            display: flex;
            align-items: center;
            padding: 14px;
        }
        #basket {
            width: clamp(300px, 80%, 600px);
            border-radius: 8px;
            background-color: burlywood;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            transition: 0.2s;
            @media (max-width: 1100px) {
                left: 50%;
                transform: translate(-50%, 50%);
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .userinfo {
                text-align: center;
                .username {
                    margin: 1ch;
                }
                .message {
                    margin: 1ch;
                }
            }
            .item {
                width: 50%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-bottom: 1px solid map-get($cs, mainaccent);
                .quantity {
                    width: 20%;
                    display: flex;
                    justify-content: space-evenly;
                    .incrementer,
                    .decrementer {
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        background-color: map-get($cs, see-thru);
                        border-radius: 8px;
                        border: 1px solid map-get($cs, mainaccent);
                        color: map-get($cs, mainaccent);
                    }
                }
            }
            .checkout {
                margin: 1ch;
                .checkoutBtn {
                    padding: 1ch 3ch;
                    font-size: 26px;
                    border-radius: 8px;
                    border: 1px solid map-get($cs, mainaccent);
                    background-color: map-get($cs, see-thru);
                    color: map-get($cs, mainaccent);
                }
            }
        }
    }
}

//footer
footer {
    height: 97px;
    padding: 0 30px;
    margin-top: 45px;
    background-color: map-get($cs, footer);
    display: flex;
    align-items: center;
    justify-content: space-around;
    .nav,
    .policy {
        height: 100%;
        display: flex;
        align-items: center;
        .line {
            height: 65px;
            width: 1px;
            background-color: map-get($cs, footeraccent);
        }
        .options {
            p {
                font-size: 14px;
                margin: 3px 0 0 10px;
                color: map-get($cs, footeraccent);
            }
        }
        .policies {
            p {
                font-size: 14px;
                margin: 10px 0 10px 10px;
                color: map-get($cs, footeraccent);
            }
        }
    }
}

// index/homepage
.content {
    padding: 0 15px;
    max-width: 1522px;
    margin: 0 auto;
    fieldset {
        background-color: map-get($cs, dropdownbg);
        color: map-get($cs, mainaccent);
        border: solid 2px map-get($cs, mainaccent);
        border-radius: 8px;
    }
    .weeklyMsgCont {
        width: clamp(100px, 80%, 500px);
        margin: 0 auto;
        fieldset {
            display: flex;
            flex-direction: column;
            img {
                justify-self: center;
                background-color: map-get($cs, dropdownbg);
                color: map-get($cs, mainaccent);
                border: solid 2px map-get($cs, mainaccent);
                border-radius: 8px;
            }
        }
    }
    @media (min-width: 1100px) {
        width: 80%;
    }
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: map-get($cs, mainaccent);
    }
    .hero {
        margin-top: 60px;
        h1 {
            font-weight: 700;
        }
    }
    .best-sales,
    .new-releases,
    .best-rate {
        margin-top: 60px;
        h2 {
            font-weight: 500;
        }
        .cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @media (min-width: 1217px) {
                height: 200px;
                overflow: hidden;
            }

            .card {
                width: 190px;
                height: 180px;
                border: 1px solid map-get($cs, mainaccent);
                border-radius: 8px;
                margin: 0 auto 18px;
                @media (max-width: 530px) {
                    width: 170px;
                    height: 160px;
                }
                cursor: pointer;
                img {
                    width: 190px;
                    height: 180px;
                    border-radius: 8px;
                    @media (max-width: 530px) {
                        width: 170px;
                        height: 160px;
                    }
                }
            }
        }
        .button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            h2 {
                margin-right: 10px;
            }
            span {
                border: 1px solid map-get($cs, mainaccent);
                border-radius: 100%;
            }
        }
    }
    .platform {
        margin-top: 60px;
        h2 {
            font-weight: 500;
        }
        .pbox {
            width: 100%;
            height: 72px;
            margin-bottom: 12px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            cursor: pointer;
        }
        .pc {
            background-color: map-get($cs, pc);
        }
        .ps {
            background-color: map-get($cs, ps);
        }
        .xb {
            background-color: map-get($cs, xb);
        }
        .nt {
            background-color: map-get($cs, nt);
        }
    }
}
// all p page
.allContent {
    .filter {
        width: 100%;
        height: auto;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: map-get($cs, filterbg);
        text-align: center;
        form {
            margin: 10px 0;
        }
    }

    .allProductsContainer {
        margin: 0 auto;
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media (max-width: 500px) {
            max-width: 100%;
        }
        .productContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px auto 15px;
            flex-basis: 25%;

            .product {
                width: 190px;
                height: 180px;
                border: 1px solid map-get($cs, mainaccent);
                border-radius: 8px;
                position: relative;
                cursor: pointer;

                img {
                    border-radius: 8px;
                }
                .platformTag {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    height: 25px;
                    width: 25px;
                    border-radius: 8px;
                }
            }
            .title {
                width: 180px;
                h3 {
                    margin: 5px 0;
                }
            }

            .price {
                margin: 10px 0;
                padding: 15px 0;
                min-width: 180px;
                h3,
                h4 {
                    margin: 2px;
                }
                h4 {
                    float: left;
                }
                button {
                    float: right;
                    height: 60px;
                    margin-top: -40px;
                    border: 1px solid map-get($cs, mainaccent);
                    border-radius: 8px;
                    padding: 10px;
                    text-align: center;
                    font-weight: 900;
                    line-height: 13px;
                }
                button:active {
                    transform: translateY(2px);
                }
            }
        }
    }
}

//single p page
.singleProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .related {
        width: clamp(200px, 90%, 1000px);
        fieldset {
            margin-top: 60px;
            h2 {
                font-weight: 500;
            }
            .cards {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                @media (min-width: 1217px) {
                    height: 200px;
                    overflow: hidden;
                }

                .card {
                    width: 190px;
                    height: 180px;
                    border: 1px solid map-get($cs, mainaccent);
                    border-radius: 8px;
                    margin: 0 auto 18px;
                    @media (max-width: 530px) {
                        width: 170px;
                        height: 160px;
                    }
                    cursor: pointer;
                    img {
                        width: 190px;
                        height: 180px;
                        border-radius: 8px;
                        @media (max-width: 530px) {
                            width: 170px;
                            height: 160px;
                        }
                    }
                }
            }
        }
    }
    .thumbnail {
        width: clamp(200px, 80%, 1000px);
        img {
            border: 1px solid map-get($cs, mainaccent);
            border-radius: 8px;
            aspect-ratio: 16 / 9;
        }
    }
    .titlecard {
        width: 80%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        h2,
        h3 {
            margin: 0;
        }
        h2 {
            align-self: center;
        }
        h3 {
            align-self: flex-end;
            text-align: end;
        }
    }
    .break {
        width: 80%;
        border-bottom: 2px solid map-get($cs, mainaccent);
    }
    .dateNrate {
        width: 80%;
        display: flex;
        justify-content: space-between;
        .releaseDate {
            color: rgb(223, 200, 200);
        }
        .releaseDate::before {
            content: "Released: ";
            color: white;
        }

        .rating::before {
            content: "Metarating: ";
            color: white;
        }
    }
    .description {
        width: 80%;
    }
    .primarySpecs {
        display: flex;
        justify-content: space-between;
        width: 80%;
        .spec {
            height: 50px;
            width: 60px;
            background-color: map-get($cs, mainaccent);
            border-radius: 8px;
            color: black;
            text-align: center;
            padding: 5px;
        }
    }
    .video {
        width: clamp(200px, 80%, 1000px);
        position: relative;
        margin: 20px 9.5%;
        border: 1px solid map-get($cs, mainaccent);
        border-radius: 8px;
        iframe {
            vertical-align: middle;
            border-radius: 8px;
            aspect-ratio: 16 / 9;
        }
    }
    .mySlides {
        display: none;
    }
    img {
        vertical-align: middle;
        border-radius: 8px;
        aspect-ratio: 16 / 9;
    }
    /* Slideshow container */
    .slideshow-container {
        width: clamp(200px, 80%, 1000px);
        position: relative;
        margin: auto 9.5%;
        border: 1px solid map-get($cs, mainaccent);
        border-radius: 8px;
    }
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: map-get($cs, mainaccent);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: map-get($cs, prev-next-btns);
    }
    .prev:hover {
        border-radius: 0 8px 8px 0;
    }
    .next:hover {
        border-radius: 8px 0 0 8px;
    }
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: map-get($cs, slideshowdots);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .secondarySpecs {
        margin-top: 30px;
        table {
            border-spacing: 0;
            border-radius: 8px;
            td {
                border: 1px solid map-get($cs, mainaccent);
                padding: 10px;
                border-radius: 0 8px 8px 0;
            }
            th {
                border: 1px solid map-get($cs, mainaccent);
                padding: 10px;
                border-radius: 8px 0 0 8px;
            }
        }
        .related {
            fieldset {
                margin-top: 60px;
                h2 {
                    font-weight: 500;
                }
                .cards {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    @media (min-width: 1217px) {
                        height: 200px;
                        overflow: hidden;
                    }

                    .card {
                        width: 190px;
                        height: 180px;
                        border: 1px solid map-get($cs, mainaccent);
                        border-radius: 8px;
                        margin: 0 auto 18px;
                        @media (max-width: 530px) {
                            width: 170px;
                            height: 160px;
                        }
                        cursor: pointer;
                        img {
                            width: 190px;
                            height: 180px;
                            border-radius: 8px;
                            @media (max-width: 530px) {
                                width: 170px;
                                height: 160px;
                            }
                        }
                    }
                }
            }
        }
    }
    .productPricing {
        text-align: center;
        margin: 20px;
        h2,
        h5 {
            margin: 5;
        }
    }
    .addToBasket {
        display: flex;
        justify-content: center;
        width: 100%;
        button {
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 50px;
            border: none;
            p,
            i {
                margin: 0 10px;
            }
        }
        button:active {
            transform: translateY(2px);
        }
    }
}

// Add Product (admin page)
.adminContent {
    // Update News
    .newsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        .weekly {
            img {
                background-color: map-get($cs, dropdownbg);
                color: map-get($cs, mainaccent);
                border: solid 1px map-get($cs, mainaccent);
                border-radius: 8px;
            }
        }
        .news1,
        .weekly,
        .news2,
        .info {
            padding: 2ch;
            padding-bottom: 5ch;
        }
        form {
            width: clamp(250px, 80%, 1000px);
            fieldset {
                background-color: map-get($cs, dropdownbg);
                color: map-get($cs, mainaccent);
                border: solid 1px map-get($cs, mainaccent);
                border-radius: 8px;
                padding: 10px 60px;
                input {
                    width: 100%;
                    height: 30px;
                }
                textarea {
                    height: 200px;
                    width: 100%;
                    resize: vertical;
                }
            }
            .subButton {
                width: 250px;
                height: 60px;
                font-size: 20px;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
    // Add Product
    .addProductContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        form {
            width: clamp(250px, 80%, 1000px);
            fieldset {
                background-color: map-get($cs, dropdownbg);
                color: map-get($cs, mainaccent);
                border: solid 1px map-get($cs, mainaccent);
                padding: 0 60px;
                border-radius: 8px;

                input {
                    width: 100%;
                    height: 30px;
                }
                .check {
                    height: 20px;
                    width: 20px;
                }
                textarea {
                    height: 120px;
                    width: 100%;
                    resize: vertical;
                }
                .subButton {
                    width: 250px;
                    height: 60px;
                    font-size: 20px;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }
        .tickBoxContainer {
            display: flex;
            width: 100%;
            .platformCont,
            .genreCont {
                width: 50%;
            }
            .platform {
                border-right: 1px solid map-get($cs, mainaccent);
            }
            .platform,
            .genre {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 1ch;
                height: 200px;
                @media (max-width: 900px) {
                    flex-wrap: nowrap;
                    height: unset;
                }
            }
            .inputCont {
                display: flex;
            }
        }
    }
    // Edit Product
    .editProduct {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        form {
            width: clamp(250px, 80%, 1000px);
            fieldset {
                background-color: map-get($cs, dropdownbg);
                color: map-get($cs, mainaccent);
                border: solid 1px map-get($cs, mainaccent);
                width: 80%;
                margin: 0 auto;
                padding: 5ch;
                border-radius: 8px;
            }
            input {
                width: 100%;
                height: 30px;
            }
            textarea {
                height: 120px;
                width: 100%;
                resize: vertical;
            }
            .subButton {
                width: 250px;
                height: 60px;
                font-size: 20px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -0%);
            }
        }
    }
    // Product List
    .productList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
        grid-auto-rows: 1fr;
        @media (max-width: 700px) {
            grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        }
        .currentProductContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: map-get($cs, dropdownbg);
            border: 1px solid map-get($cs, mainaccent);
            border-radius: 8px;
            margin: 0 auto 6ch auto;
            width: clamp(200px, 80%, 600px);
            @media (max-width: 700px) {
                width: clamp(100px, 80%, 300px);
            }
            .productNo {
                align-self: flex-start;
                border-radius: 8px;
                border-bottom: 1px solid map-get($cs, mainaccent);
                padding: 0 2ch;
            }
            .productSubContainer {
                display: flex;
                justify-content: space-between;
                @media (max-width: 700px) {
                    flex-direction: column;
                    align-items: center;
                }
                //  flex-direction: column;
                .productTitle,
                .productPrice,
                .productReleaseDate,
                .productRating,
                .productPlatform {
                    padding: 1ch;
                    overflow-wrap: break-word;
                    min-width: 90%;
                }
                .productInfoContainer {
                    //width: 100%;
                    .productImg {
                        border-radius: 8px;
                        border: 1px solid map-get($cs, mainaccent);
                        //margin: 1ch;

                        margin: 1ch;
                        img {
                            border-radius: 8px;
                            aspect-ratio: 4/3;
                            min-width: 250px;
                            max-width: 250px;
                        }
                    }
                }
                .productBtnContainer {
                    display: flex;
                    flex-direction: column-reverse;
                    align-self: flex-start;
                    @media (max-width: 700px) {
                        flex-direction: row-reverse;
                        align-self: center;
                    }
                    button {
                        width: 70px;
                        padding: 10px;
                        border: 1px solid map-get($cs, mainaccent);
                        border-radius: 8px;
                        text-decoration: none;
                        margin: 10px;
                        color: map-get($cs, mainaccent);
                        background-color: transparent;
                    }
                }
            }
        }
    }
    // User List
    .userList {
        width: clamp(300px, 80%, 1200px);
        margin: 0 auto;

        .currentRegisteredUsers {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
            grid-auto-rows: 1fr;
            .user {
                background-color: map-get($cs, dropdownbg);
                color: map-get($cs, mainaccent);
                border: solid 1px map-get($cs, mainaccent);
                border-radius: 8px;
                padding: 1ch;
                margin: 1ch;
                button {
                    cursor: pointer;
                    padding: 10px;
                    border: 1px solid map-get($cs, mainaccent);
                    text-decoration: none;
                    margin: 10px;
                    color: map-get($cs, mainaccent);
                    background-color: transparent;
                }
                .username {
                    display: flex;
                    align-items: center;
                    .name {
                        padding: 0;
                        font-size: 20px;
                    }
                }
                .Fname {
                    margin: -1ch 0;
                }
                .email {
                    margin: -2ch 0;
                }
                .descrip {
                    .tion {
                        font-style: italic;
                    }
                }
                .btns {
                    //    text-align: center;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }
    .changePass {
        width: clamp(100px, 80%, 300px);
        margin: 0 auto;
        text-align: center;
        fieldset {
            background-color: map-get($cs, dropdownbg);
            color: map-get($cs, mainaccent);
            border: 1px solid map-get($cs, mainaccent);
            border-radius: 8px;
            .changePassBtn {
                text-align: center;
                width: 200px;
                height: 50px;
                margin-bottom: -20px;
                font-size: 20px;
            }
        }
    }
    // Edit User
    .editUser {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 180px;
        form {
            width: clamp(250px, 80%, 1000px);
            fieldset {
                padding: 0 60px;
                padding-bottom: 20px;
                border-radius: 8px;
                input {
                    width: 100%;
                    height: 30px;
                }
                textarea {
                    height: 120px;
                    width: 100%;
                    resize: vertical;
                }
                .updateBtn {
                    width: 250px;
                    height: 60px;
                    font-size: 20px;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }
        .tickBoxContainer {
            display: flex;
            width: 100%;
            .platformCont,
            .genreCont {
                width: 50%;
            }
            .platform,
            .genre {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 1ch;
                height: 200px;
                @media (max-width: 900px) {
                    flex-wrap: nowrap;
                    height: unset;
                }
            }
            .inputCont {
                display: flex;
            }
        }
    }
}
// Cart
.cartbox {
    padding: 0 5ch;
    background-color: map-get($cs, dropdownbg);
    color: map-get($cs, mainaccent);
    border: 1px solid map-get($cs, mainaccent);
    border-radius: 8px;
    width: clamp(100px, 80%, 1000px);
    margin: 0 auto;

    .cart_item {
        display: flex;
        margin-bottom: 22px;
        img {
            border-radius: 8px;
            height: 120px;
            min-width: 120px;
        }

        .info {
            display: flex;
            flex-direction: column;
            h3,
            h2 {
                margin: 0 0 10px 30px;
            }
            .price {
                margin-top: auto;
            }
        }
        button {
            height: 40px;
            width: 100px;
            margin: auto 0 auto auto;
            color: white;
            background-color: red;
            border: 0;
            border-radius: 8px;
            font-weight: 800;
            cursor: pointer;
        }
        button:active {
            transform: translateY(2px);
        }
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: end;
        margin-bottom: 50px;
    }
    .checkout {
        display: flex;
        flex-direction: column;
        p {
            position: absolute;
            font-size: 14px;
            left: 50%;
            margin-top: -20px;
            transform: translate(-50%);
        }
        input {
            height: 30px;
            width: 300px;
            margin: 0 auto 30px auto;
            border-radius: 8px;
            border: none;
        }
        .order_button {
            width: 250px;
            height: 60px;
            border-radius: 8px;
            border: none;
            font-size: 20px;
            position: absolute;
            margin-top: 45px;
            cursor: pointer;
            left: 50%;
            transform: translate(-50%);
            &:active {
                transform: translate(-50%, 2px);
            }
        }
    }
}

//Orders page
.orders {
    padding: 0 5ch;
    background-color: map-get($cs, dropdownbg);
    color: map-get($cs, mainaccent);
    border: 1px solid map-get($cs, mainaccent);
    border-radius: 8px;
    width: 1000px;
    overflow: auto;
    white-space: nowrap;
    margin: 0 auto;
    table {
        width: 100%;
        padding: 0 25px;
        border-collapse: collapse;
        th{
            line-height: 30px;
        }
        th,
        td {
            text-align: start;
            padding: 0 5px;
            vertical-align: top;
            button{
                border: none;
                border-radius: 4px;
                padding: 4px 7px;
                &:active{
                    transform: translateY(2px);
                }
            }
        }
        .headline {
            border-bottom: 1px solid white;
        }
        .titles {
            max-width: 200px;
        }
        .status{
            text-transform: uppercase;
        }
        .status[data-status="Delivered"]{
            color: lightgreen;
        }
        .status[data-status="Pending"]{
            color: red;
        }
        tr {
            line-height: 20px;
        }
    }
}

// About page
.about {
    margin: 0 auto;
    width: clamp(100px, 80%, 1000px);
    fieldset {
        padding: 0 5ch;
        background-color: map-get($cs, dropdownbg);
        color: map-get($cs, mainaccent);
        border: 1px solid map-get($cs, mainaccent);
        border-radius: 8px;
    }
}
// contact page
.contactFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    fieldset {
        background-color: map-get($cs, dropdownbg);
        color: map-get($cs, mainaccent);
        border: 1px solid map-get($cs, mainaccent);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 0 6ch;
        border-radius: 8px;
    }
    textarea {
        resize: vertical;
    }
    .submitBtn {
        width: 200px;
        height: 50px;
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: -4ch;
        width: 60%;
    }
}
// terms of service
.termsOfService {
    width: 60%;
    margin: 0 auto;
    .termsBox {
        border-radius: 8px;
        border: 1px solid map-get($cs, mainaccent);
        background-color: map-get($cs, dropdownbg);
        padding: 0 1ch;
        color: map-get($cs, offwhite);
    }
}
// FAQ
.FAQ {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .faq {
        padding: 2ch;
        background-color: map-get($cs, dropdownbg);
        border-radius: 8px;
        margin: 2ch auto;
        text-align: left;
        .question {
            font-style: italic;
            font-weight: 400;
        }
    }
}

// create new user page
.CreateNewUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto 100px auto;
        fieldset {
            display: flex;
            flex-direction: column;
            background-color: map-get($cs, dropdownbg);
            color: map-get($cs, mainaccent);
            border: 1px solid map-get($cs, mainaccent);
            border-radius: 8px;
            .button {
                width: 150px;
                height: 50px;
                margin-bottom: -40px;
                font-size: 20px;
                align-self: center;
            }
        }
    }
}

// Login page
.login {
    width: clamp(100px, 80%, 300px);
    margin: 0 auto;
    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10ch auto;
        // width: clamp(100px, 80%, 300px);
        fieldset {
            background-color: map-get($cs, dropdownbg);
            color: map-get($cs, mainaccent);
            border: 1px solid map-get($cs, mainaccent);
            border-radius: 8px;
            .button {
                width: 200px;
                height: 50px;
                font-size: 20px;
                margin-bottom: -20px;
                text-align: center;
            }
        }
    }
    .createNew {
        background-color: map-get($cs, dropdownbg);
        border: 1px solid map-get($cs, mainaccent);
        border-radius: 8px;
        text-align: center;
        margin-bottom: 10ch;
        a {
            button {
                margin-top: -1ch;
                width: 200px;
                height: 50px;
                font-size: 20px;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
}
